openapi: 3.0.3
info:
  title: Open Heart API
  description: Find out more about our about Open Hearts on our official website. Coming soon
  contact:
    name: Afdallah Wahyu Arafat
    email: afdallah.war@gmail.com
    url: https://dalla.id
  version: 1.0.0
servers:
  - url: https://diary-api.dalla.id/api/v1
  - url: http://localhost:8000/api/v1
tags:
  - name: users
    description: Users related endpoints
  - name: notes
    description: Access to notes/journals endpoints
paths:
  /users/register:
    post:
      tags:
        - users
      summary: Register a new user
      requestBody:
        $ref: '#/components/requestBodies/usersBody'
      responses:
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: User not found
          content: {}
        405:
          description: Validation exception
          content: {}
  /users:
    get:
      tags:
        - users
      summary: Get all users
      responses:
        200:
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Users'
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: User collection is empty
          content: {}
        405:
          description: Validation exception
          content: {}
  /users/{userId}:
    put:
      tags:
        - users
      parameters:
        - name: userId
          in: path
          description: ID of user to update
          required: true
          schema: { type: string }
      summary: Update a user
      responses:
        200:
          description: User updated successfully
          content: {}
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: User not found
          content: {}
        405:
          description: Validation exception
          content: {}
    # delete: {}
components:
  requestBodies:
    usersBody:
      description: Payload for users
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              fullName:
                type: string
                example: Afdallah Wahyu Arafat
              userName:
                type: string
                example: 'afdallah'
              email:
                type: string
                example: 'afdallah.war@gmail.com'
              password:
                type: string
                example: 'password'
              passwordConfirm:
                type: string
                example: 'password'
              pin:
                type: integer
                example: 12345
                maximum: 5
              birthday:
                type: string
                example: '2020-01-01'
              gender:
                type: string
                example: female

  schemas:
    Users:
      type: object
      properties:
        id:
          type: integer
          format: int64
        fullName:
          type: string
        userName:
          type: string
        email:
          type: string
        pin:
          type: string
          description: Used to unlock the notes view
        birthday:
          type: string
        role:
          type: string
        gender:
          type: string
        token:
          type: string
      xml:
        name: Users
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
