extends layout.pug

block content

	div.container.mx-auto.my-5.text-center
		h1.font-bold.text-3xl.mb-4 Welcome to Open hearts
		p Open heart is an initiative to help people [write something nice here] .

		.buttons
			a.font-bold.px-6.py-2.bg-indigo-500.text-white.rounded-md.inline-flex.mx-2.my-4.text-sm.font-mono(href="/api-docs") Documentation
			a.font-bold.px-6.py-2.border-2.border-indigo-500.text-indigo-500.rounded-md.inline-flex.mx-2.my-4.text-sm.font-mono(href="https://openheartdiary.netlify.app") Launch the site
